
@import "../../stylesheets/color-string-constants.scss";

.btn{
    background: $sidebar-background;
    color: white;
    border: none;
    font-size: 1.3rem;
    height: 3rem;
    width: 16rem;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    align-items: center;
    gap: 1rem;
    margin: .5rem;
    &:hover{
        font-weight: 600;
        background: $light-grey;
        border-radius: 5px;
    }
}