
@import "../../stylesheets/color-string-constants.scss";


.Sidebar {
height: 100vh;
width: 17rem;
border: 2px solid black;
background: $sidebar-background;
display: flex;
flex-direction: column;
gap: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    color: $white;
    gap: .7rem;
    margin-left: .7rem;
    i{
        font-size: 3.3rem;
    }
}
.sidebar-container{
    gap: 1rem;   
    font-size: 1.3rem;
    line-height: 2rem;
    h3{
        color:$white;
        margin: .7rem;
        padding: 0rem 0.7rem;
    }
}

// .sidebar-install-app{
//     font-size: 1.5rem;

//     i{
//         color: $white;
//         margin-right: 2rem;
//     }
   
//     a{
//         text-decoration: none;
//         color: $white; 
//     }
// }